body {
    background-color: #f0f0f0;
}

.logoHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

#video-gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}